* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

.visualisation_container {
    width: 90%;
    height: 80%;
    background-color: black;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.node-container {
    width: 300px;
    height: auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.node0{
    transform: translate(-50px, -200px)
}

.node1{
    transform: translate(150px, 100px)
}

.node-title {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.node-title .icon {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.node-title span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    font-weight: 700;
}

.expand-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.node-body {
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;

}

.node-body-title {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

.number-id {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4px 5px;
    border-radius: 5px;
}

.node-body-title .title {
    width: calc(100% - 50px);
    padding-left: 5px;
    font-weight: 700 !important;
}

.node-body-title span {
    font-size: 12px;
    font-weight: 500;
}

.node-details {
    width: 100%;
    height: calc(100% - 30px);
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.detail {
    width: calc(100% - 20px);
    min-height: 30px;
    height: auto;
    /* background-color: white; */
    /* border-top: 1px solid grey; */
    border-bottom: 1px solid grey;
    padding: 0px 10px;
}

.detail:last-child {
    border: none !important;
}

.detail-title {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
}

.detail-title span {
    font-size: 11px;
}

.description {
    width: 100%;
    overflow: hidden;
    max-height: 100px;
    transition: 500ms ease-in-out;
}

.description-hidden {
    max-height: 0px;
    transition: 500ms ease-in-out;
}

.description span {
    font-size: 10px;
    transition: 500ms ease-in-out;
}

.link-container {
    width: 20px;
    height: 100%;
    background-color: skyblue;
    position: absolute;
    border-radius: 40px;
    right: -30px;
    border: 2px solid rgb(73, 134, 155);
}

.link-source {
    width: 100%;
    height: 30px;
    max-height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.link-source-expanded {
    height: 130px !important;
    max-height: 130px !important;
}

.link-source span {
    cursor: pointer;
}

.node-details-hidden{
    height: 0px;
    overflow: hidden;
}